.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

.target
.bsp
.cache
.cache-main
.cache-tests
.tmpBin
bin
logs
target
sbt-dist
ideatarget
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/.bsp
.DS_Store
*.DS_Store
*.class
gen
uploads
uploads/*